
/* Setting the margin to auto and the border radius to 15px. */

#cards{
    margin:auto;
    border-radius: 15px;
}

/* Setting the text alignment to left and the border radius to 45px. */

#cards{
    text-align:left;
    border-radius: 45px;
}

/* Centering the text and giving it a border radius of 15px. */

.main{
    text-align: center;
    border-radius: 15px;
}

/* Setting the width of the search bar to fit the content and the border radius to 5px. */

#search{
    width: fit-content;
    border-radius: 5px;
}

/* Making the search bar bigger when you hover over it. */

#search:hover{
    transform: scale(1.05);
}

/* Setting the height of the main1 div to 55px and the border radius to 10px. */

#main1{
    height:55px;
    border-radius: 10px;
}

/* Setting the background color of the body to a light blue and the border radius to 15px. */

#bodys{
    
    background-color: rgb(188, 246, 247);
    border-radius: 15px;
}

/* Making the cards bigger when you hover over them. */

.carrs:hover{
    transform: scale(1.10);
}

/* Making the button bigger when you hover over it. */

.btn:hover{
    transform: scale(1.05);

}

/* Setting the background color of the main2 div to a light blue and the border radius to 15px. */

.main2{
    background-color: rgb(188, 246, 247);
    border-radius: 15px;
}